html,
body {
  padding: 0;

  font-family: "Poppins", "Helvetica", sans-serif;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

#gameArea {
  width: 540px;
  height: 620px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -270px;
  z-index: -1;
}

#canvas {
  border: 1px solid black;
  background-color: #f1f1f1;
}

#stats {
  display: flex;
  flex-direction: column;
}
#nextone {
  border: 2px solid black;
  background-color: #eaeaea;
  height: 120px;
  width: 210px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 4px;
  /*position: absolute;
  left: 1150px;*/
}
#line {
  display: inline-block;
}
#level {
  display: inline-block;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 620px;
  background-color: #181620;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -270px;
}
#gameovermenu {
  flex-direction: column;
  width: 540px;
  height: 620px;
  background-color: #181620;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -270px;
}

#start {
  flex-direction: column;
  justify-content: center;
}
/*#startgame {
  width: 200px;
  height: 100px;
  margin: auto;
}*/

:root {
  --primary: 0, 0%, 100%;
  --secondary: 202, 73%, 28%;
}

.btn {
  --w: 300px;
  --h: 45px;

  display: flex;
  justify-content: center;
  width: var(--w);
  height: var(--h);
  border: 1px solid hsl(var(--primary));
}

span {
  position: absolute;
  width: 100%;
  font-size: 14px;
  font-weight: 800;
  line-height: var(--h);
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: hsl(var(--primary));
  transition: all 0.4s var(--c);
  z-index: 100;
  cursor: default;
}

.btn:hover span {
  color: hsl(var(--secondary));
  transition-delay: 0s;
}
