html,
body {
  margin: auto;
  padding: 0;
}

#canvas {
  border: 2px solid black;
  background-color: #eaeaea;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: block;
  padding: 0;
}
#nextone {
  border: 2px solid black;
  background-color: #eaeaea;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  left: 1150px;
}
/*.line {
  width: 1px;
  height: 1001px;
  color: black;
  background-color: black;
  position: absolute;
  z-index: 5;
}
#one {
  left: 150px;
}

#two {
  left: 200px;
}

#three {
  left: 250px;
}

#four {
  left: 300px;
}*/
