html,
body {
  padding: 0;
  background: blanchedalmond;
}

#gameArea {
  width: 540px;
  height: 620px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -270px;
  z-index: -1;
}

#canvas {
  border: 1px solid black;
  background-color: #eaeaea;
}

#stats {
  display: flex;
  flex-direction: column;
}
#nextone {
  border: 2px solid black;
  background-color: #eaeaea;
  height: 120px;
  width: 210px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 4px;
  /*position: absolute;
  left: 1150px;*/
}
#line {
  display: inline-block;
}
#level {
  display: inline-block;
}

#menu {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 620px;
  background-color: #181620;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -270px;
}
#gameovermenu {
  flex-direction: column;
  width: 540px;
  height: 620px;
  background-color: #181620;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -310px 0 0 -270px;
}
#startgame {
  width: 200px;
  height: 100px;
  margin: auto;
}
